/* css libraries*/
@import '../libs/slick-slider/slick';

/* fonts*/
@import '_fonts.scss';

/* common styles*/
html{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after{
  box-sizing: inherit;
  padding: inherit;
  margin: inherit;
}

.wrapper{
  margin: 0 auto;
  max-width: 80%;
  background-color: lightblue;
  padding: 15px;
}

.text{
  font-family: 'Roboto';
  text-align: center;
}